
  <div id="mainHeader">
    <header class="container">
      <div class="column">
        <img src="/assets/logos/corebiz.svg" class="mainLogo" alt="logo" />
      </div>
      <div class="column">
        <div class="searchField">
          <input type="text" placeholder="O que você está procurando ?" />
          <img src="/assets/icons/search.svg" alt="search" />
        </div>
      </div>
      <div class="column">
        <div class="sideOptions">
          <button class="myAccount">
            <img src="/assets/icons/user.svg" alt="My Account" />
            <span>
              Minha conta
            </span>
          </button>
          <button class="cart">
            <img src="/assets/icons/cart.svg" alt="Cart" />
            <div class="cartItems">
              {{1}}
            </div>
          </button>
        </div>
      </div>
    </header>
  </div>
