<footer>
      <section class="address">
          <h3>Localização</h3>
          <p>Avenida Andrômeda, 2000. Bloco 6 e 8</p>
          <p>Alphavile SP</p>
          <a href="mailto:brasil@corebiz.ag">brasil@corebiz.ag</a>
          <br/>
          <a href="tel:+551130901039"> +55 11 3890 1039</a>
      </section>
      <section class="contact">
        <ul>
          <li>
              <img src="/assets/icons/email.svg" alt="icon-msg" />
              <a href="/fale-conosco">Entre em contato</a>
          </li>
          <li>
              <img src="/assets/icons/headPhone.svg" alt="icon-phone" />
              <a href="/chat">Fale com o nosso <br />consultor online</a>
          </li>
        </ul>
      </section>
      <section class="created">
        <div class="icon">
            <p>Created by</p>
            <img src="/assets/icons/corebiz.svg" alt="Logo Corebiz" />
        </div>
        <div class="icon">
            <p>Power by</p>
            <img src="/assets/icons/vtex.svg" alt="Logo Corebiz" />
        </div>
      </section>
    </footer>
