<div id="mainBanner">
  <div class="bannerItem">
    <div class="bannerItemBg">
      <svg class="bannerSeparator" width="990" height="430" viewBox="0 0 990 430" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0H960C835.5 176.5 1067.5 266 960 430H0V0Z" fill="black"/>
      </svg>
      <div class="title">
        <div class="container">
          <p>Olá, o que você está buscando?</p>
          <h3>Criar ou migrar seu <br /> e-commerce?</h3>
        </div>
      </div>
      <img src="/assets/images/banner1.jpg" alt="banner 1" />
    </div>
  </div>
</div>
