<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="newsLetterComponent">
  <div class="container">
    <h2 class="title">Paticipe de nossas news com promoções e novidades!</h2>
    <form [formGroup]="userEmails" *ngIf="!sent" (submit)="submitForm($event)">
      <div class="col-auto form-group" ng-class="['error':primName?.invalid]">
        <input
          name="name"
          type="text"
          placeholder="Digite seu nome"
          formControlName="primaryName"
          [class.is-invalid] = "(primName?.invalid && primName?.touched)"
          />
         <div class="col-auto error" *ngIf="(primName?.invalid && primName?.touched)">
          <small class="text-danger">Preencha com seu nome completo</small>
         </div>
      </div>
      <div class="col-auto form-group" >
        <input [class.is-invalid] = "(primEmail?.invalid && primEmail?.touched)"
               type="Email" class="form-control" name="email" placeholder="Digite seu email" formControlName="primaryEmail" required />
         <div class="col-auto error" *ngIf="(primEmail?.invalid && primEmail?.touched) || primEmail?.dirty">
           <small *ngIf="primEmail?.errors?.required" class="text-danger">Preencha com seu e-mail</small>
           <small class="col-auto" *ngIf="primEmail?.errors?.pattern" class="text-danger">Preencha com um e-mail válido</small>
         </div>
      </div>
      <div class="col-auto">
        <button type="submit" [disabled]="primEmail?.invalid" class="btn">Eu quero!</button>
      </div>

    </form>

    <div class="success" *ngIf="sent">
      <p>
        Seu e-mail foi cadastrado com sucesso!
      </p>
      <p>
        A partir de agora você receberá as novidade e ofertas exclusivas.
      </p>
      <button class="btn" (click)="backToForm()">
        Cadastrar novo email
      </button>
    </div>
  </div>
</div>
